.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  }
  
  body {
    background-color: #1a9fc4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Alexis', cursive;
    text-shadow: 5px #243a57;
    font-size: 8rem;
    color: #460d38;
  }
  
  p {
    font-size: 3rem;
    color: #460d38;
    font-family: 'Lasello', cursive;
  }
  
  img {
    width: 70%;
  }
  .btn{
    margin: 30px;
    height: 60px;
    width: 200px;
    border-radius: 5px;
    font-family: 'Lasello', cursive;
    font-size: 40px;
  }
  
  
  